<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="./favicon.png" />
    <title>Lockdown Handbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Find out what's allowed and restricted in your area during the COVID-19 lockdown."
    />
    <link rel="apple-touch-icon" href="./logo192.png" />
    <link rel="manifest" href="./manifest.json" />
    <meta property="og:title" content="Lockdown Handbook">
    <meta property="og:site_name" content="Lockdown Handbook">
    <meta property="og:url" content="https://sahiyogi.herokuapp.com/">
    <meta property="og:description" content="Find out what's allowed and restricted in your area during the COVID-19 lockdown.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="./lockdown-handbook-og.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/08b499b33f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $('body').on("keyup", ".c19-category-search-input", function() {
          var value = $(this).val().toLowerCase();
          $("#category-accordion .accordion-category-header").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
        $(".c19-searchinput-js").on("keypress keyup blur",function (event) {
          $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
              event.preventDefault();
          }
        });
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjt7-Mdz_jiSsXUT4-Teffc9fS3SrmVDA&libraries=places"></script>
  </body>
</html>
