h1 {
  font-size: 34px;
  font-weight: 700;
}

.c19-category-title {
  margin: 16px 10px 8px 10px;

  h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;

    &::after {
      margin-left: 24px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 1px;
    }
    &.allowed {
      &::after {
        background: linear-gradient(to right, #14af83, transparent 80%);
      }
    }
    &.restricted {
      &::after {
        background: linear-gradient(to right, #ec3c3c, transparent 80%);
      }
    }
  }
}
