$search-input-bg: #fff;
$search-input-disabled-bg: #efefef;
$search-input-color: #111;
$search-input-placeholder-color: #747474;
$search-input-border-radius: 0;
$search-input-font-size: 18px;
$search-input-space: 16px;

/* input placeholder */
input {
  &::placeholder {
    color: $search-input-placeholder-color;
    opacity: 1;
  }
}
/* search input */

.c19-search-input-container {
  background: $search-input-bg;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);
  display: flex;
  height: 64px;
  align-items: center;
  cursor: text;
  width: 100%;
  position: relative;

  &.disabled {
    background: $search-input-disabled-bg;

    .c19-search-input {
      cursor: not-allowed;
      background: $search-input-disabled-bg;
    }
  }

  .c19-search-input {
    font-size: $search-input-font-size;
    padding: $search-input-space;
    height: 64px;
    border-radius: $search-input-border-radius;
    border: 0;
    width: 100%;
    font-weight: 700;
    color: $search-input-color;
    min-width: 48px;

    &:hover, &:focus, &:active {
      outline: none;
    }

    &.c19-category-search-input {
      font-size: 16px;
    }
  }

  .c19-search-input-icon {
    position: absolute;
    z-index: 1;
    right: 0;
    max-height: 64px;
    padding: 18px;
    cursor: pointer;
    background: #fff;
    border: 0;
    outline: 0;
    margin: 0;
  }
}

