@media only screen and (max-width: 576px) {
  h1 {
    font-size: 28px;
    font-weight: 700;
  }

  input {
    &::placeholder {
      font-size: 14px;
    }
  }

  .c19-total-stats {
    .card-deck .card {
      margin-bottom: 10px;

      .card-body {
        padding: 12px;
      }
    }
  }

  .status-card-container {
    .accordion>.card>.card-header {
      .accordion-title-link {
        font-size: 16px;
        padding: 12px 10px;
      }
    }
  }

  .c19-total-stats .title,
  .covid-lab-title,
  .c19-category-title h3 {
    font-size: 16px;
  }

  .helpline-text,
  .c19-status-banner p,
  .c19-total-stats p {
    font-size: 14px;

    &.count {
      font-size: 20px;
    }
  }

  .helpline-text.micro-text {
    font-size: 12px;
  }

  .c19-status-section {
    .c19-category-title {
      margin: 16px 0px 8px 0px;
    }

    .c19-status-card {
      &.card {
        margin: 10px 0;
      }
    }

    &.c19-allowed-list .c19-status-card.card {
      border: 1px solid #14af83 !important;
    }

    &.c19-restricted-list .c19-status-card.card {
      border: 1px solid #ec3c3c !important;
    }
  }
}

@media only screen and (min-width: 993px) {
  .header-container {
    margin-top: 60px;
  }
}
