$status-card-space: 14px 12px;
$status-card-font-size: 16px;
$status-card-font-color: #111;


.status-card-container {
  margin-top: 10px;

  .card-group>.card:first-child {
    margin-left: 0;
  }
  .card-group>.card:last-child {
    margin-right: 0
  }

  .accordion>.card>.card-header {
    padding: 0;

    .accordion-title-link {
      padding: 12px;
      color: #111;
      font-weight: 600;
    }
  }

  .card-body {
    padding: $status-card-space;
  }
}

.c19-status-card {
  font-size: 16px;
  color: $status-card-font-color;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  margin: 10px;

  &.card {
    padding: 0;
  }

  .card-body {
    padding: $status-card-space;
  }

  .card-title {
    color: $status-card-font-color;
    font-size: $status-card-font-size;
    margin: 0;
  }

  .card-description {
    color: #678;
    font-size: $status-card-font-size - 2;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 567px) {
  .c19-status-card {
    &.card {
      margin: 10px 0;
    }
  }
}